/* General Styles for Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(200,200,231,0.8772759103641457) 35%, rgba(107,77,99,1) 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

 
  
  left: 0; /* Add this to ensure the header starts at the leftmost point */
  
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 15px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffdd57;
}

.nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #ffdd57;
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav-links a:hover::after {
  width: 100%;
}
